{{ define "main" }}
    <div>
        <ul class="list">
        {{ range .Pages }}
            <ul class="archive__list">
                <li class="archive__list-item">
                    <li class="archive__list-title">
                        <i class="fab fa-github" aria-hidden="true"></i>
                        {{ if ne .Params.Title_link "" }}<a href="{{ .Params.Title_link }}">{{end}}
                        {{ .Title }}
                        {{ if ne .Params.Title_link "" }}</a>{{end}}
                    </li>
                </li>
                <li class="archive__list-title">
                    {{ .Params.Description }}
                </li>
            </ul>
            {{ end }}
        </ul>
    </div>
{{ end }}
