{{ define "main" }}
    <div>
        <ul class="list-with-title">
        {{ range .Pages }}
            <ul class="presentation-list">
                <div class="presentation">
                    <span class="metadata">
                        <i class="fab fa-github fa-2x" aria-hidden="true"></i>
                    </span>
                    <div class="info">
                        <h3 class="presentation-title">
                            {{ if ne .Params.Title_link "" }}<a href="{{ .Params.Title_link }}">{{end}}
                            {{ .Title }}
                            {{ if ne .Params.Title_link "" }}</a>{{end}}
                        </h3>
                    </div>
                    {{ .Params.Description }}
                </div>
            </ul>
            {{ end }}
        </ul>
    </div>
{{ end }}
