p {
    font-size: 16px;
}
div.description > p {
    text-align: left;
    width: 300px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

div.listing-title {
    padding-top: 1px;
}

div.presentation {
    padding-bottom: 5px;
}

h3.presentation-title {
    display: inline;
}

div.event {
    padding-top: 5px;
    font-size: 1.15em;
}
div.presentation > span.metadata {
    height: 60px;
    float: left;
    width: 80px; 
}

span.metadata > span.date {
    display: block;
    padding-bottom: 7px;
}

span.files > a {
    padding: 3px;
}

div.page-top > h3 {
    display: none;
}

.sidebar .logo-title .title img {
    width: 250px;
    border-radius: 50%;
}

.sidebar .logo-title {
    padding-top: 100px;
}

ul.list-with-title {
    font-size: 1.15em;
}

a:link, a:visited {
    color: teal;
}
a:hover {
    color: blue;
}

.list-with-title .listing .listing-post a {
    color: teal;
}

@media screen and (max-width: 960px),
print {
    .sidebar .logo-title .title img {
        width: 150px;
        border-radius: 50%;
    }
    .content {
        margin-top: 280px;
        width: 100%;
        z-index: 2;
        position: absolute;
    }
    .description {
        display: none;
    }
    div.page-top > h3 {
        padding-left: 20px;
        float: left;
        display: inline;
        text-transform: uppercase;
    }
    div.title > h3 {
        display: none;
    }
}